@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Sigmar&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color:rgb(12, 11, 11);
}

main {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
}

.movie {
    height: 600px;
    width: 300px;
    overflow: hidden;
    border-radius: 3px;
    margin: 20px;
    /* position: relative; */
}

.movie img {
    width: 100%;
    overflow: hidden;
    z-index:0;
}

.movie .movie-info {
    background-color: rgb(90, 88, 88);
    display:flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    letter-spacing: 2px;
    z-index: 99;
    color: #ddd;
    height: 100px;
}

.movie .movie-info span {
    background-color: black;
    border-radius: 2px;
    padding: 2.5px 5px;

}
